/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2014, 2:17:54 PM
    Author     : Janerus
*/
$bg-overlay-color: rgba(0,0,0,0.75);

html {
    height: 100%;
}

body {
  @extend html;  
  color: #5a5a5a;
}

@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
@media (min-width:1024px) {
    .navbar-wrapper {
        @include clearfix;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 20;
      width: 250px;

      .container {
          padding-right: 0;
          padding-left: 0;
      }

      .navbar {
          padding-right: 15px;
          padding-left: 15px;
          width: 250px;

          .container {
              width: 220px;
          }
      }
    }
}

/* Flip around the padding for proper display in narrow viewports */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
  
  .carousel-caption {
      z-index: 10;
  }
  
  .carousel-inner {
      height: 100%;
      
      .item {
          height: 100%;
          background-attachment: fixed;
          background-color: #222;
          background-position: center;
          background-repeat: no-repeat no-repeat;
          background-size: cover;

          .container {
              width: 100% !important;
              height: 100%;
              background-color: $bg-overlay-color;
          }
      }
  }
}
